.productSliderContainer {
  background-image: url("https://media.sugarcosmetics.com/upload/homePageBackGroundTexture.jpg");
  width: 100%;
  height: 600px;
  margin-bottom: 2rem;
  padding: 2rem;
  box-sizing: border-box;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}
