.mainContainer {
  //   background-image: url("https://media.sugarcosmetics.com/upload/homePageBackGroundTexture.jpg");
  background-color: #f2f2f2;
  width: 100%;
  height: 600px;
  padding: 2rem;
  box-sizing: border-box;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}

.imageContent {
  width: 100%;
  margin: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  img {
    height: 100%;
    width: 100%;
    border-radius: 8px;
  }
}
