.best{
    height: 35rem;
    width: 100%;
    border: 1px solid red;
    margin-top: 5rem;
    background-image: url(https://media.sugarcosmetics.com/upload/homePageBackGroundTexture.jpg);
}
.bestsell{
    color: white;
    font-size: 25px;
  margin-top: 2rem;
  font-weight: bold;
}
.sli{
    height: 25rem;
    width: 80%;
    border: 1px solid red;
    margin: auto;
    margin-top: 1rem;
    display: flex;
    gap: 1rem;
}