.mainContainer {
  height: 100vh;
  width: 100%;
  display: flex;
  position: relative;
  @media (max-width: 1000px) {
    flex-direction: column;
  }
  .mobileViewCard {
    display: none;
    position: absolute;
    padding-top: 3rem;
    box-sizing: border-box;
    left: 0;
    bottom: 10%;
    right: 0;
    margin: auto;
    height: 50%;
    width: 90%;
    background-color: white;
    border-radius: 12px;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    @media (max-width: 1000px) {
      display: block;
    }

    .sendOtpButtonBox {
      width: 100%;
      display: flex;
      justify-content: center;
      align-items: center;
      margin-top: 1rem;
    }
    .sendOtpButton {
      background-color: black !important;
      color: white !important;
      font-weight: bold !important;
      font-size: 16px !important;
      cursor: pointer !important;
    }
    .inputFieldBox {
      width: 100%;
      display: flex;
      justify-content: center;
      align-items: center;
      .inputSuffix {
        display: flex;
        align-items: center;
        justify-content: center;
        background-color: black;
        color: white;
        border-radius: 50%;
        cursor: pointer;
      }
    }
  }
  .leftSection {
    height: 100%;
    width: 38%;
    background: url("https://media.sugarcosmetics.com/upload/authSIe2.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    @media (max-width: 1000px) {
      width: 100%;
      height: 50%;
    }

    .backArrowBox {
      width: 100%;
      height: 5rem;
      display: flex;
      justify-content: start;
      align-items: center;
      padding: 0 2rem;
      box-sizing: border-box;
      display: none;
      @media (max-width: 1000px) {
        display: flex;
      }
      .backArrow {
        font-weight: bolder;
        color: white;
        cursor: pointer;
      }
    }
  }
  .rightSection {
    overflow-y: auto;
    height: 100%;
    width: 62%;
    background: url("https://media.sugarcosmetics.com/upload/loginPageBackGroundTexture.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    padding: 0 2rem;
    box-sizing: border-box;
    @media (max-width: 1000px) {
      width: 100%;
      height: 50%;
    }
    .backArrowBox {
      width: 100%;
      height: 5rem;
      display: flex;
      justify-content: start;
      align-items: center;

      .backArrow {
        font-weight: bolder;
        // color: red;
        cursor: pointer;
      }
    }

    .hiImageBox {
      width: 100%;
      height: auto;
      display: flex;
      justify-content: center;
      align-items: center;
      img {
        height: 150px;
      }
    }

    .loginSignUpText {
      text-align: center;
      font-weight: bolder;
      font-size: 18px;
      margin-top: 1rem;
    }

    .inputFieldBox {
      width: 100%;
      height: 7rem;
      //   border: 1px solid red;
      display: flex;
      justify-content: center;
      align-items: center;
    }

    .plainTextBox {
      width: 100%;
      padding: 0 8rem;
      text-align: center;
      color: #757575;
      font-size: 14px;
    }

    .inputPrefix {
      //   color: red;
      font-weight: bolder;
      margin-right: 1rem;
    }
    .inputSuffix {
      display: flex;
      align-items: center;
      justify-content: center;
      background-color: black;
      color: white;
      border-radius: 50%;
      cursor: pointer;
    }

    .sendOtpButtonBox {
      width: 100%;
      height: 12rem;
      display: flex;
      justify-content: center;
      align-items: center;
      border-bottom: 1px dashed rgb(174, 174, 174);
      .sendOtpButton {
        background-color: black !important;
        color: white !important;
        font-weight: bold !important;
        font-size: 16px !important;
        cursor: pointer !important;
      }
    }

    .whatsapptextBox {
      width: 100%;
      height: 3rem;
      text-align: center;
      .whatsappText {
        font-size: 13px;
        color: gray;
      }

      .termsCondition {
        font-size: 14px;
        color: #fc2779;
        font-weight: bold;
        cursor: pointer;
      }
    }

    .needHelpBox {
      display: flex;
      justify-content: end;
      align-items: end;
      width: 100%;
      height: 6rem;
      font-size: 16px;
      font-weight: bold;
      border-bottom: 1px dashed rgb(174, 174, 174);
      padding-bottom: 1rem;
      .termsCondition2 {
        color: #fc2779;
        cursor: pointer;
      }
    }

    .lastTextBox {
      text-align: center;
      font-size: 14px;
      margin-top: 2rem;
      span {
        color: #fc2779;
        cursor: pointer;
      }
    }
  }
}

// .alert {
//   position: absolute;
// }

.inputSuffixBox {
  margin-left: 1rem;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 5px;
}

.rightSectionContent {
  @media (max-width: 1000px) {
    display: none;
  }
}
